<h1>モンスター弱点・早見表</h1>

<table>
  <tr>
    <th><%= sort_link(@q, :name, "名前") %></th>
    <th><%= sort_link(@q, :fire_effective, "火") %></th>
    <th><%= sort_link(@q, :water_effective, "水") %></th>
    <th><%= sort_link(@q, :thunder_effective, "雷") %></th>
    <th><%= sort_link(@q, :ice_effective, "氷") %></th>
    <th><%= sort_link(@q, :dragon_effective, "龍") %></th>
  </tr>
  <% @monsters.each do |monster| %>
    <tr>
      <th><%= monster.name %></th>
      <th><%= monster.fire_effective %></th>
      <th><%= monster.water_effective %></th>
      <th><%= monster.thunder_effective %></th>
      <th><%= monster.ice_effective %></th>
      <th><%= monster.dragon_effective %></th>
    </tr>
  <% end %>
</table>

<style>
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #eee
}
</style>
